footer {
  background-color: black;
  color: white;
  text-align: center;
}
#navbar {
  height: 60px;
  background-color: #0f1111;
}

button {
  background-color: #f08804;
}

#logo {
  color: #f08804;
  font-size: 25px;
}

a {
  margin-right: 200px;
  text-decoration: none;
  color: white;
}

#content-one {
  background-color: rgba(255, 0, 0, 0.5);
  height: 100px;
  width: 100px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
}

#content {
  height: 625px;
}

#content-two {
  background-color: rgba(0, 255, 0, 0.5);
  height: 100px;
  width: 100px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
}

#content-three {
  background-color: rgba(0, 0, 255, 0.5);
  height: 100px;
  width: 100px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
}
