div {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
  /* margin: 20px; */
  text-align: center;
}

#box1 {
  position: static;
  top: 50px;
  bottom: 50px;
}

#box2 {
  position: relative;
  top: 10px;
  left: 20px;
  /* right: 45px; */
  z-index: 1;
}

#box3 {
  /* position: absolute; */
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: -5;
}

#box4 {
  position: fixed;
  top: 0px;
  left: 0px;
}
